header.navbar{
  background: rgba(130, 126, 15, 0.5);
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.15),inset 0 -1px 0 rgba(255,255,255,0.15);
  color:#FFF;
}
h1{
  color:#4C0F82;
}
.list-group i.bi{
  color:#4C0F82;
}
.list-group .btn{
  background-color:#4C0F82;
}
